package test

import (
	"github.com/gin-gonic/gin"
	"{{ .Module }}/internal/test/handler"
)

func RegisterRoutes(r *gin.RouterGroup) {
	handle := NewHandler()

	r.GET("/ping", handle.Ping)

}

func NewHandler() *handler.Handler {
	return handler.NewHandler(nil)
}
